[autotune_tmc stepper_x]
motor: omc-17hs19-2504s-h
tuning_goal: performance
voltage: 24

[autotune_tmc stepper_y]
motor: omc-17hs19-2504s-h
tuning_goal: performance
voltage: 24

[autotune_tmc stepper_z]
motor: creality-42-40
tuning_goal: silent
voltage: 24

[autotune_tmc stepper_z1]
motor: creality-42-40
tuning_goal: silent
voltage: 24

[autotune_tmc stepper_z2]
motor: creality-42-40
tuning_goal: silent
voltage: 24

#[autotune_tmc extruder]
#motor: ldo-36sth20-1004ahg
#tuning_goal: performance
#voltage: 24